/* Global Styles */
body {
  font-family: Arial, sans-serif;
  
  background: linear-gradient(to bottom, rgb(31, 9, 24), rgb(56, 20, 48));
}
  



@font-face {
  font-family: 'CustomFont';
  src: url('Days.otf');
}

.title {
  font-family: 'CustomFont', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(224, 95, 113);
  font-size: 400%;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 5%;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color:rgb(224, 95, 113);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

h2 {
  text-align: center;
  font-size: 290%;
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
}

input[type="date"],
input[type="text"],
input[type="number"],
select {
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(247, 244, 244);
  border-radius: 4px;
  box-sizing: border-box;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
}



label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

button[type="submit"] {
  background-color: #313631;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
}

button:hover {
  background-color: #1d1f1d;
}

.error {
  color: red;
  margin-top: 5px;
}
#groupMembersContainer {
  margin-left: 10%;
}

#groupMembersContainer label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  color: #282828;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
  font-size: 130%;
}

#groupMembersContainer input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 10%;
  margin-top: 0;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
}

#groupMembersContainer br {
  display: none;
}

