body {
    font-family: Arial, sans-serif;
    background-color: rgb(45, 45, 45);
    background-image: linear-gradient(to bottom, rgb(45, 45, 45), rgb(80, 80, 80));
  }
  
  @font-face {
    font-family: 'CustomFont';
    src: url('Days.otf');
  }
  
  h1.title {
    font-family: 'CustomFont', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(82, 226, 156);
    font-size: 400%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(82, 226, 156);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  input[type="date"],
  input[type="text"],
  select {
    width: 80%;
    margin-left: 10%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(247, 244, 244);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select#paidBy {
    background-color: rgb(247, 244, 244);
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  
  #groupMembersContainer {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  
  #groupMembersContainer input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #groupMembersContainer label {
    display: block;
    margin-bottom: 5px;
    white-space: pre-wrap;
  }
  
  
  
  button[type="submit"] {
    background-color: #313631;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
  }
  
  button:hover {
    background-color: #1d1f1d;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  