body{
  background: linear-gradient(to top, rgb(135, 6, 94), rgb(56, 20, 48));
  background-repeat: no-repeat;
  height: 100vh;
}
#logocen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.w3-animate-fading{
     animation:fading 5s forwards
}
@keyframes fading{
     0%{opacity:0}50%{opacity:1}100%{opacity:1}
}
.w3-animate-left{
     position:relative;animation:animateleft 0.4s
}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

.container {
  margin-left: 35%;
  font-size: xx-large;
}

.container a {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  position: relative;
}

.container a::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.container a:hover::before {
  width: 50%;
}

.container img {
  padding-left: 15px;
  width: 95px;
  height: 85px;
  display: inline-block;
  vertical-align: middle;
}
