<!DOCTYPE html>
<html>

<head>
  <title>GrouPay New Entry</title>
  <link rel="stylesheet" type="text/css" href="../static/form.css">

  <style>
    /* Inline styles for error message */
    .error {
      color: red;
      margin-top: 5px;
    }
  </style>
</head>


<body>
  <img src="../static/logo.png" alt="GrouPay" class="logo">
  <div class="container">
    <h2>New Entry</h2>
    <form id="entry-form">
      <input type="date" id="date" placeholder="Date" required>
      <input type="text" id="event" placeholder="Event" required>
      <input type="number" id="amount" placeholder="Amount paid(Rs)" required>
      <div id="paidByContainer">
        <select id="paidBy" required>
          <option value="" disabled selected>Amount Paid By</option>
          <option value="Siya">Siya</option>
          <option value="Diya">Diya</option>
          <option value="Rohan">Rohan</option>
          <option value="Jay">Jay</option>
          <option value="Virat">Virat</option>
          <option value="Maaya">Maaya</option>
          <option value="Piya">Piya</option>
          <option value="Aryan">Aryan</option>
          <option value="Meera">Meera</option>
          <option value="Ashmi">Ashmi</option>
        </select>
      </div>
      <br>
      <span id="groupMembersContainer"></span>
      <button type="submit">Done</button>
    </form>
  </div>

  <script src="../static/form.js"></script>
</body>

</html>