<!DOCTYPE html>
<html>
<head>
     <title>SPLIT-IT</title>
     <link rel="stylesheet" href="../static/HomePage.css">
</head>

<div class="container">
     <div class="w3-animate-left">
     <div class="sidenav">
          <!-- <p><img src="group_img.png">Groups</p><br> -->
          <p><img src="../static/bill_img.png">Outstanding balances </p><br>
          <p><img src="../static/credit_img.png">Groups you owe</p><br>
          <p><img src="../static/debit_img.png">Groups that owe you</p><br>
     </div>
     </div>
</div>

<section id="logocen" class="w3-animate-fading">
     <img src="../static/logo3.png" style="width: 500px; height: auto;">
</section>

</html>
