<!DOCTYPE html>
<html>

<head>
     <title>GrouPay Home</title>
     <link rel="stylesheet" href="../static/HomePage.css">
</head>


<section id="logocen" class="w3-animate-fading">
     <img src="../static/logo.png" style="width: 700px; height: auto; border-radius: 25px;">
</section>
<br>

<div class="container">
     <div class="w3-animate-left">
          <a href="../templates/form.html" id="formPageLink">
               <p><img src="../static/bill_img.png"><span> New Entry </span></p><br>
          </a>
          <a href="../templates/TallyPage.html" id="tallyPageLink">
               <p><img src="../static/tally_img.png"><span> Tally Page </span></p><br>
          </a>
          <a href="about.html">
               <p><img src="../static/group_img.png"> <span>About </span></p><br>
          </a>
     </div>
</div>

<script src="../static/HomePage.js"></script>

</html>
